@font-face {
    font-family: "Inter";
    src: url('./fonts/Inter-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Inter";
    src: url('./fonts/Inter-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url('./fonts/Inter-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Inter";
    src: url('./fonts/Inter-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

.xs{
    font-family: "Inter";
    font-size: 12px;
}

.sm{
    font-family: "Inter";
    font-size: 14px;
}
.sm-500{
    font-family: "Inter";
    font-weight: 500;
    font-size: 14px;

}

.md{
    font-family: "Inter";
    font-size: 16px;
}

.xl-500{
    font-family: "Inter";
    font-weight: 500;
    font-size: 20px;
}

.xl-700{
    font-family: "Inter";
    font-weight: 700;
    font-size: 20px;
}



